<form action="sendmail" method="POST">
 <p>
  Name:<br>
  <input type="text" name="full_name" value="Your Name" placeholder="Enter Your Name" size="40" maxlength="100" required>
 </p>
 <p>
  When Would You Like to Visit?<br>
  <input type="date" min="2017-07-10" max="2018-01-1" name="booking_date">
 </p>
 <p>
  Do you have any special requirements?<br>
  <textarea name="special_requirements" cols="40" rows="5" placeholder="Do you need help with access, or have any dietary requirements?"></textarea>
 </p>
 <p>
  <button type="reset">Start Over</button><button type="submit">Send Now</button>
 </p>
</form>