<form action="/" method="post">
  <p>
    Score #1:<br>
    <input type="text" name="score1" size="40" maxlength="2">
  </p>
  <p>
    Score #2:<br>
    <input type="text" name="score2" size="40" maxlength="2">
  </p>
  <p>
    Score #3:<br>
    <input type="text" name="score3" size="40" maxlength="2">
  </p>
  <p>
    <button type="reset">Start Over</button><button type="submit">Calculate</button>
  </p>
</form>

{% if method == "POST" %}
  {% if average != None%}
    <h3>Your average result is...</h3>
    <h1>{{ average }}</h1>
  {% else %}
    <h1>Please enter the right values</h1>
  {% endif %}
{% endif %}
