<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ashiro's MESS</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  </head>
  <body>
    <form action="/mess" method="post">
      <p><label><strong>Title:</strong></label><br>
      <input type="text" name="title"></p>
      <p><label><strong>Post:</strong></label><br>
      <textarea name="post" rows="5" cols="40"></textarea></p>
      <input class="button" type="submit" value="Submit">
    </form>
  </body>
</html>
