<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ashiro's Numbers</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <form action="{{ url_for('numbers') }}", method="GET" novalidate>
      <p>The sum of {{ num1 }} and {{ num2 }} is <strong>{{ result }}</strong></p>
      <p><a href={{ url_for('numbers') }}>Try Again</a></p>
    </form>
  </body>
</html>
