<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ashiro's Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  </head>
  <body>
    {% if username %}
      <h1>Welcome my dear {{ username }}</h1>
    {% else %}
      <h1>Please login</h1>
    {% endif %}
    <ul>
      {% for i in range(10) %}
        <li>This is list #{{ i }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
